* {
  box-sizing: border-box;
  background: none;
  border: none;
  color: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: MontserratReg;
}

@font-face {
  src: url("../fonts/Montserrat-Regular.ttf");
  font-family: 'MontserratReg';
}

@font-face {
  src: url("../fonts/Montserrat-SemiBold.otf");
  font-family: 'MontserratBold';
}

body {
  background: #1a4172;
}

.logo {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 150px;
  opacity: 0;
}

.logo img {
  width: 100%;
  display: block;
}

.logo.active {
  opacity: 1;
}

.blue-button {
  display: inline-block;
  padding: 25px 30px;
  background: #ade0f8;
  color: #1a4172;
  font-family: 'MontserratBold';
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s ease 0s !important;
}

.blue-button:hover {
  background: #ee3346;
  color: white;
}

.flex {
  display: flex;
  align-items: center;
}

.flex.space {
  justify-content: space-between;
}

.w50 {
  width: 49%;
}

.progressive-parent {
  max-height: 100vh;
  overflow: hidden;
  display: none;
}

.progressive-parent .abs-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ade0f8;
  font-size: 27px;
  font-family: 'MontserratBold';
  line-height: 1.5;
}

.progressive-parent .text {
  color: white;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.progressive-parent .full-input {
  width: 100%;
  border-bottom: 1px solid #ade0f8;
  outline: none;
  font-size: 30px;
  padding: 5px;
  letter-spacing: 2px;
  color: white;
}

.progressive-parent .input-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.progressive-parent .group {
  position: relative;
}

.progressive-parent .bottom {
  margin-top: 50px;
}

.progressive-parent .pad-left {
  padding-left: 50px;
}

.progressive-parent form {
  width: 100%;
}

.progressive-parent .white-title {
  color: white;
  font-size: 32px;
}

.progressive-parent .choice li {
  color: white;
  font-size: 20px;
  margin: 5px 0;
}

.progressive-parent .jo-select {
  font-size: 20px;
}

.progressive-parent .droppable-parent .drop-module {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  margin: 5px 0;
  cursor: move;
  background: #1a4172;
}

.progressive-parent .droppable-parent .drop-module:active {
  transition: all 0s !important;
  transition-delay: 0s !important;
}

.progressive-parent.active {
  display: block;
}

.ui-sortable-helper {
  transition-delay: 0s !important;
}

.preload-parent {
  transition: all .5s ease;
}

.progress-section {
  position: absolute;
  min-height: 100vh;
  width: 1000px;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  transition: all .3s ease;
}

.progress-section .abs-content * {
  transform: translateY(-50px) scale(0.9);
  position: relative;
  opacity: 0;
  transition: all .5s ease;
}

.preload-parent.hide {
  opacity: 0;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader .preload-image {
  position: absolute;
  animation: pulse 1s infinite;
}

.preloader .preload-image-2 {
  position: absolute;
}

.preloader .preload-image-3 {
  position: absolute;
  animation: pulse 1.5s infinite .7s;
}

.preloader .preload-image-4 {
  position: absolute;
  animation: pulse 1.5s infinite 1.3s;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preload-parent-2 {
  opacity: 0;
  transition: all .3s ease;
}

.preload-parent-2.active {
  opacity: 1;
}

.preload-parent-2.hide {
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.progress-section.active {
  display: block;
  z-index: 5;
}

.progress-section.active .abs-content * {
  transform: translateY(0px);
  opacity: 1;
  transition: all .5s ease;
}
